<div class="box-hero container">
  <header>
    <h6>Generator</h6>
  </header>

  <div class="flex-container">
    <div class="flex-item hero-text">
      <h2>Branch names with git flow structure</h2>
      <p>Generate names for your branch from the title very quickly!</p>

      <form class="hero-form">
        <div class="form-group">
          <label for="typeBranch">TYPE BRANCH</label>
          <select class="form-control" id="typeBranch" name="typeBranch"
          (change)="generate()"
          [(ngModel)]="typeBranch">
            <option value="feature">Feature</option>
            <option value="bugfix">Bugfix</option>
            <option value="hotfix">Hotfix</option>
            <option value="release">Release</option>
          </select>
        </div>

        <div class="form-group">
          <label for="title">TITLE</label>
          <input type="text" class="form-control" id="title" name="title"
          placeholder="ex: relayout login"
          (keyup)="generate()"
          [(ngModel)]="title">
        </div>

        <div class="form-group branch-name">
          <label for="title">YOUR BRANCH NAME IS:</label>
          <div class="copy" (click)="copy()">
            <input type="text" class="form-control" id="branchName"
              readonly
              [value]="branchName">
            <img src="assets/img/copy.svg" alt="Copy" class="copy">
          </div>
        </div>
      </form>
    </div>
    <div class="flex-item hero-img d-none d-sm-block">
      <img src="assets/img/hero-img.svg" alt="Hero img">
    </div>
  </div>
</div>
